 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Container*/
/* .container{
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    
}  */

.container{
    border: 10px solid black;
    display: flex;
}